.btn {
  cursor: pointer;
  background: #ffc400;
  border: none;
  font-size: 1.2rem;
  padding: 1rem 1.2rem;
  border-radius: 50px;
  font-weight: 700;
  box-shadow: -3px 5px 0px 1px black;
}

.btn:hover {
  background: #ffc400d7;

}
