.main-motor {
  background: #742886;
  min-height: 80vh;
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.motor-wrapper {
  margin-right: 3rem;
}
.motor-wrapper h1 {
  margin-bottom: 3rem;
  color: white;
}

.motor-btn {
  display: flex;
  flex-direction: column;
}
.motor-btn button {
  margin-bottom: 2rem;
  border: 3px solid #ffc400;
  color: white;
}
.motor-btn button span {
  color: #ffc400;
}

.button {
  margin-bottom: 2rem;
}

.motor-img {
  max-width: 55vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}
.motor-img img {
  max-width: 60vw;
  background-image: url("../../../assets/home-assets/purpleBubble.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* responsive */

@media screen and (max-width: 1080px) {
  .motor-wrapper {
    text-align: center;
    margin-right: 0rem;
  }
  .motor-img {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 700px) {
  .motor-wrapper h1 {
    font-size: 1.5rem;
  }
  .motor-wrapper button {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .motor-img img {
    transform: scale(1.4);
    margin: 2rem 0rem;
  }
}
