.main-person {
  background: #ffc400;
  max-height: 150vh;
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.person-text {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.person-text h1 {
  color: #742886;
}
.person-text p {
  font-weight: 600;
}

.person-img img {
  width: 80vw;
  margin-bottom: -0.3rem;
}

/* responsive */

@media screen and (max-width: 1000px) {
  .person-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .person-text {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  .person-text {
    font-size: 0.65rem;
  }
}
